[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shashankthecreator
[access "refs/for/refs/*"]
	read = group user/shashankthecreator
	push = group user/shashankthecreator
	label-Code-Review = -2..+2 group user/shashankthecreator
	label-Verified = -1..+1 group user/shashankthecreator
	rebase = group user/shashankthecreator
	removeReviewer = group user/shashankthecreator
	submit = group user/shashankthecreator
	exclusiveGroupPermissions = push
[access "refs/heads/*"]
	read = group user/shashankthecreator
	create = group user/shashankthecreator
	push = +force group user/shashankthecreator
	pushMerge = group user/shashankthecreator
[access "refs/tags/*"]
	push = +force group user/shashankthecreator
	pushTag = group user/shashankthecreator
	pushSignedTag = group user/shashankthecreator
